@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Cormorant+Garamond:wght@300;400;600&display=swap');

:root {
  --color-sage: #4B5345;
  --color-gold: #4B5345;
  --color-cream: #E5E0D8;
  --color-text: #2C2C2C;

  --font-serif: 'Cinzel', serif;
  --font-sans: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-cream);
  color: var(--color-text);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  color: var(--color-sage);
  margin-top: 0;
}

button {
  font-family: var(--font-serif);
}