@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-wedding-sand: #E5E0D8;
  --color-wedding-blue-roi: #4B5345;
  --color-wedding-blue-roi-dark: #2F3628;
  --color-wedding-gold: #4B5345;
  --color-wedding-gold-dark: #3A4034;
  --color-wedding-cream: #F3F1ED;
  --font-serif: "Playfair Display", serif;
  --font-script: "Great Vibes", cursive;
  --font-sans: "Lato", sans-serif;

  --animate-shake: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

  @keyframes shake {

    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

/* Apply base styles */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-wedding-sand);
  color: #1f2937;
  /* gray-800 */
  font-family: var(--font-sans);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E5E0D8;
}

.bg-wedding-gold {
  background: #4B5345;
}

.bg-wedding-gold-dark {
  background: #3A4034;
}

::-webkit-scrollbar-thumb {
  background: #4B5345;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3A4034;
}